.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.header {
  width: 400px;
  height: 100px;
  background-color: #ff0000;
}
.side-area {
  width: 150px;
  height: 250px;
  background-color: #00ff51;
  float: left;
}
.main-area {
  float: left;
}
.top-container-left {
  float: left;
}
.left-section-first {
  width: 150px;
  height: 50px;
  background-color: #cc00bd;
}
.left-section-second {
  width: 150px;
  height: 100px;
  background-color: #0093b7;
}
.top-container-right {
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
  float: left;
}
.bottom-container {
  width: 250px;
  height: 100px;
  background-color: #8c2727;
}
.footer {
  width: 400px;
  height: 100px;
  background-color: #fff700;
}